/*Header*/

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4 rem 0 rem;
  
  }
  
  header .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  header .container nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  
  header .container nav .menu {
       display: flex;
       align-items: center;
       justify-content: space-between;
  }
  
  header .container nav .menu li {
      margin-rigth: 4.8 rem;
  }
  
  header .container nav .menu-social {
      display: flex;
      justify-content: 
  }
  
  
  .s-hero .container .title-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 59.2rem;
      margin-top: 24rem;
      padding-bottom: 6rem;
  
  
  }
  
  .s-hero .container .title h1 {
      font-family: "Inter", sans-serif;
      font-weight: 700;
      font-size: 6.4rem;
      line-height: 7.7rem;
      text-align: center;
      color:rgba(255,255,255,0.8);
      margin-bottom: 2rem;
  }
  
  .s-hero .container .title-box p {
      font-family: "Poppins";
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.7rem;
  }